body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff7ee;
  color: #333333;
  font-size: large;
  padding: 0px;
  margin: 0px;
  #wrapper #root {
    margin: 0px;
    padding: 0px;
  }
}

nav {
  background-color: #d7d7d7;
  margin: 0px;
  padding: 5px 60px;
  ul {
    list-style-type: none;
    li {
      margin: 5px;
      padding: 5px;
      display: inline-block;
      a {
        background-color: #b7b7b7;
        padding: 8px 30px;
        border: 1px dashed red;
        border-radius: 5px;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

main {
  padding: 10px 60px;
  #addsong {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
  }
}
